workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == 'true'

variables:
  DOCKER_DRIVER: overlay2

  # explicit tag to be used within pipeline
  BUILD_IMAGE_NAME: "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"

  DOCKER_VERSION: 20.10.12

  CI_APPLICATION_TAG: "$CI_COMMIT_SHA"
  CI_APPLICATION_REPOSITORY: "$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/$CI_JOB_NAME"

stages:
  - build
  - test
  - test-run
  - release

include:
  - local: .gitlab/ci/build.gitlab-ci.yml
  - local: .gitlab/ci/test.gitlab-ci.yml
  - local: .gitlab/ci/test-run.gitlab-ci.yml
  - local: .gitlab/ci/release.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml

container_scanning:
  variables:
    DOCKER_IMAGE: "${BUILD_IMAGE_NAME}"
    CS_DEFAULT_BRANCH_IMAGE: "${CI_REGISTRY_IMAGE}:latest"
  rules:
    - if: $CONTAINER_SCANNING_DISABLED
      when: never
    - if: $CI_MERGE_REQUEST_IID && $GITLAB_FEATURES =~ /\bcontainer_scanning\b/
    - if: $CI_COMMIT_TAG && $GITLAB_FEATURES =~ /\bcontainer_scanning\b/
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == 'true' && $GITLAB_FEATURES =~ /\bcontainer_scanning\b/
